.container {
	display: flex;
	white-space: pre;
}

.dateNumber {
	font-size: 0;
	opacity: 0;
	transition: font-size 1000ms 0.2s, opacity 0.2s;

	&.active {
		transition: font-size 1000ms, opacity 0.5s 1s;
		font-size: inherit;
		opacity: 1;
	}
}
