.container {
	display: flex;
	white-space: pre;
}

.dateNumber {
	font-size: 0;
	opacity: 0;
	transition: font-size 1ms 100ms, opacity 100ms;

	&.selected {
		transition: font-size 100ms 0.8s, opacity 0.5s 1s;
		font-size: inherit;
		opacity: 1;
	}
}
