@use "Styles/partials" as *;

.container {
	max-width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;

	margin: 140px auto;
}

.swipeButton {
	margin: auto 10px;
	@include transitionButton;

	@include desktop {
		margin: auto 20px;
	}

	&.disabled {
		visibility: hidden;
		transition: none;
	}
}

.dailyForecastList {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
