.app {
	height: 100vh;
	background: linear-gradient(180deg, #73a2db 0%, #4474ac 81.25%);
	display: flex;
	flex-direction: column;
	color: white;
}

.overviewWrapper {
	margin-top: 15vh;
	display: flex;
	justify-content: center;
}
