%central-positioning {
	display: flex;
	justify-content: center;
}

.wrapper {
	@extend %central-positioning;
	width: 18%;
	flex-direction: column;
	background: rgba(255, 255, 255, 0.04);
	box-shadow: 0px 4px 50px 10px rgba(0, 0, 0, 0.1);
	border-radius: 17px;
}

.weekday {
	@extend %central-positioning;
	font-size: 1.5rem;
	margin: 20px 0;
}

.forecastInfo {
	@extend %central-positioning;
	margin-bottom: 20px;
}

.temp {
	font-size: 46px;
	line-height: 1;
	margin: 0 8px;
}

.icon {
	width: 88px;
	height: 88px;
	margin: 0 8px;
	padding-top: 4px;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}
