@use "Style/partials/dailyForecast";

.container {
	display: flex;
	flex-direction: column;

	width: 17%;
	padding: 28px 20px;

	background: rgba(255, 255, 255, 0.04);
	box-shadow: 0px 4px 50px 10px rgba(0, 0, 0, 0.1);
	border-radius: 17px;

	cursor: pointer;
	white-space: nowrap;
	overflow: hidden;
	transition: 1s;

	&.selected {
		width: 28%;
	}
}

.content {
	display: flex;
	justify-content: space-between;
}

.indicators {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.humidity {
	display: flex;
	justify-content: flex-end;

	font-weight: 300;
}
