%central-positioning {
	display: flex;
	justify-content: center;
}

.overview {
	display: flex;
	flex-direction: column;
}

.location {
	@extend %central-positioning;
	font-size: 2rem;
}

.mainInfo {
	display: flex;
	justify-content: center;
}

.temp {
	font-size: 98px;
	margin: 12px 6px;
	line-height: 1;
}

.icon {
	width: 98px;
	height: 98px;
	margin: 0 6px;
	align-self: center;
}

.conditions {
	@extend %central-positioning;
	font-size: 1.5rem;
}

.addInfoWrapper {
	display: flex;
	justify-content: space-between;
}

.additionalInfo {
	padding: 0 0.5em;
	font-size: 1rem;
	font-weight: 300;
}
