// .title {
// 	display: flex;
// 	justify-content: center;
// 	font-size: 1.3rem;
// 	margin-bottom: 14px;
// }

.title {
	display: flex;
	justify-content: center;
	margin-bottom: 14px;
}

.date {
	display: inline-block;
	flex-grow: 0;
	font-size: 1.3rem;

	transition: 1s;

	&.selected {
		flex-grow: 1;
	}
}

.conditions {
	display: inline-block;
	flex-grow: 0;
	font-size: 1.3rem;

	transition: opacity 1s;
}

.iconWrapper {
	width: 80px;
	height: 80px;

	display: flex;
	flex-direction: column;
	justify-content: center;
}

.temp {
	display: flex;
	flex-direction: column;
	justify-content: center;

	font-size: 46px;
	line-height: 1;
}
