@use "Styles/partials" as *;

%central-positioning {
	display: flex;
	justify-content: center;
}

.container {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	margin-top: 3vh;

	@include breakpoint(400px) {
		margin-top: 4vh;
	}

	@include breakpoint(680px) {
		margin-top: 10vh;
	}

	@include laptop {
		margin-top: 15vh;
	}
}

.mainInfo {
	display: flex;
	justify-content: center;
	margin-top: 8px;

	@include tablet {
		margin: 0;
	}
}

.temp {
	font-size: 62px;
	margin-right: 16px;
	line-height: 1;

	@include tablet {
		font-size: 70px;
	}

	@include laptop {
		font-size: 98px;
	}
}

.weatherIconWrapper {
	width: 62px;
	height: 62px;
	margin-right: 16px;

	@extend %central-positioning;
	flex-direction: column;

	@include tablet {
		width: 70px;
		height: 70px;
	}

	@include laptop {
		width: 98px;
		height: 98px;
	}
}

.description {
	@extend %central-positioning;
	font-size: 1.5rem;
	margin-top: 8px;
}

.additionalInfo {
	display: flex;
	justify-content: center;
	margin-top: 2px;
}

.addInfoWrapper {
	margin: 0 1rem;
	font-size: 1rem;
	font-weight: 300;
}
