%central-positioning {
	display: flex;
	justify-content: center;
}

.container {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	margin-top: 15vh;
}

.locationWrapper {
	font-size: 2rem;
	margin-bottom: 12px;
}

.mainInfo {
	display: flex;
	justify-content: center;
}

.temp {
	font-size: 98px;
	margin-right: 16px;
	line-height: 1;
}

.weatherIconWrapper {
	width: 98px;
	height: 98px;
	margin-right: 16px;

	@extend %central-positioning;
	flex-direction: column;
}

.description {
	@extend %central-positioning;
	font-size: 1.5rem;
	margin-top: 8px;
}

.additionalInfo {
	display: flex;
	justify-content: center;
	margin-top: 2px;
}

.addInfoWrapper {
	margin: 0 1rem;
	font-size: 1rem;
	font-weight: 300;
}
